<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc AMA</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base_style.css') }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <div class="title" id="title">Ask me anything about the document</div>

    <div class="selection-container">
      <div class="select-platform">
        <label for="platform-select-list" class="platform-label">
          Platform
        </label>
        <select name="platform" id="platform-select-list">
            <option value="huggingface">HuggingFace</option>
            <option value="openai">OpenAI</option>
        </select>
      </div>

      <div class="select-model">
        <label for="model-select-list" class="model-label">
          Model Name
        </label>
        <select name="model_name" id="model-select-list">
        </select>
      </div>
      <input type="button" value="Load LLM" onclick="clickLoad()">
    </div>

    <div class="hcontainer">
      <div class="lcontainer">
        <div class="doc-window" id="doc-window">
          <embed class="embed" id="pdfViewer" src="" type="application/pdf">
        </div>
        <form class = "upload-form" id="data" method="POST" enctype="multipart/form-data">
          <label for="pdfFile" class="custom-file-upload">
            Upload your document...
          </label>
          <input type="file" name="pdfFile" id="pdfFile" accept="application/pdf">
          <input type="submit" />
          <input type="button" value="Reset" onclick="clickReset()">
        </form>
      </div>

      <div class="rcontainer">
        <div class="chat-window" id="chat-window"></div>
        <div class="chat-input">
          <input type="text" id="user-input" placeholder="Type your message..." onkeydown="if (event.keyCode==13) clickSend()">
          <input type="submit" id="send-user-input" value="Send" onclick="clickSend()">
          <input type="button" id="clear-user-input" value="Clear" onclick="clickClear()">
        </div>
        <div class="counter", id="counter">Characters: <span id="charCount">0</span></div>
      </div>
    </div>
    <div class="copyright", id="copyright">
      &copy;
      <span id="copyright">
          <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
      </span>
      Yu Xiang
    </div>
    <script src="{{ url_for('static', filename='scripts/base.js') }}"></script>

  </body>
</html>