@import
url('https://fonts.googleapis.com/css?family=Cairo');

:root {
  --blue-color: #0089e4;
  --green-color: #adff2f;
  --gray-color: #cdcdcd;
  --cyan-color: rgb(141, 231, 247);
  --dark-gray-color: #757575;
  --black-color: #000000;
  --white-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --border-color: #ccc;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding-left: 1%;
  padding-right: 1.5%;
  height: 100vh;
  display: flex;
  flex-direction:column;
  min-width: 1300px;
  min-height: 600px;
  background: linear-gradient(to bottom, #000428, #004e92);
}

.title {
  font-family: "Cairo";
  color: var(--white-color);
  margin: 0;
  height: 100px;
  padding-bottom: 10px;
  text-align: center;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 2;
  font-size: 2em;
}

h1 {
  background-image: url(title_background.gif);
  background-size: cover;
  color: transparent;
  margin: 0;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
}

.selection-container {
  display: flex;
  flex-direction: row;
  height: 60px;
}

.select-platform {
  position: relative;
  font-family: Arial;
  width: 30%;
  padding-left: 10%;
  margin-left: 5%;
}

.select-model {
  position: relative;
  font-family: Arial;
  width: 30%;
  padding-left: 10%;
}

.select-model select {
  display: none;
}

.select-platform select {
  display: none;
}

.select-selected {
  background-color: var(--gray-color);
  border-radius: 5px;
}

.select-selected:after {
  position: absolute;
  color: var(--black-color);
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--black-color) transparent transparent transparent;
}

.select-arrow-active {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--black-color);
}

.select-selected .select-arrow-active:after {
  border-color: transparent transparent var(--black-color) transparent;
  top: 7px;
  color: var(--black-color);
}

.select-items div,.select-selected {
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items {
  color: var(--black-color);
  margin-left: 25%;
  position: absolute;
  background-color: var(--gray-color);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 300px;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.selection-container input[type="button"] {
  float: right;
  width: auto;
  padding: 5px 10px;
  margin-left: 5%;
  border: none;
  border-radius: 5px;
  background-color: var(--cyan-color);
  color: var(--black-color);
  cursor: pointer;
}

.hcontainer {
  display: flex;
  flex-direction: row;
  height: calc(100% - 220px);
}

.lcontainer {
  display: flex;
  flex-direction:column;
  height: calc(100% - 17.5px);
  width: 50%;
  padding: 10px
}

.lcontainer .doc-window {
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 2px 5px var(--shadow-color);
  padding: 0;
  height: 100vh;
  overflow-y: auto;
  display: flex;
}

.lcontainer .doc-window .embed {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.lcontainer .upload-form {
  display: flex;
  flex-direction:row;
}

.lcontainer .upload-form input[type='file'] {
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  display: none;
  overflow: hidden;
}

.lcontainer .upload-form .custom-file-upload {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--gray-color);
  color: var(--black-color);
  width: calc(100% - 150px);
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 15px;
  padding-left: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.lcontainer .upload-form input[type='submit'] {
  float: right;
  width: auto;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--cyan-color);
  color: var(--black-color);
  cursor: pointer;
}

.lcontainer .upload-form input[type="button"] {
  float: right;
  width: auto;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--gray-color);
  color: var(--black-color);
  cursor: pointer;
}

.rcontainer {
  display: flex;
  flex-direction:column;
  height: 100%;
  width: 50%;
  padding: 10px
}

.rcontainer .chat-window {
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 2px 5px var(--shadow-color);
  padding: 20px;
  height: 100vh;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction:column-reverse;
  position: relative;
}

.rcontainer .chat-input {
  display: flex;
  flex-direction:row;
}

.rcontainer .chat-input input[type="text"] {
  width: calc(100% - 150px);
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 15px;
  padding-left: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-sizing: border-box;
}

.rcontainer .chat-input input[type="submit"] {
  float: right;
  width: auto;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--cyan-color);
  color: var(--black-color);
  cursor: pointer;
}

.rcontainer .chat-input input[type="button"] {
  float: right;
  width: auto;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--gray-color);
  color: var(--black-color);
  cursor: pointer;
}

.rcontainer .counter {
  text-align:right;
  padding-right: 10px;
  height: 20px;
  color: var(--white-color);
}

.user-message {
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  transform: scale(0);
  transform-origin: 100% 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  animation: message 0.15s ease-out 0s forwards;
}

.user-message .user-message-bubble-tail {
  width: 0;
  transform: scale(50%);
  transform-origin: 0 100%;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--blue-color);
}

.ai-message {
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
  transform-origin: 0 100%;
  transform: scale(0);
  animation: message 0.15s ease-out 0s forwards;
}

.ai-message .ai-message-bubble-tail {
  width: 0;
  transform: scale(50%);
  transform-origin: 100% 100%;
  border-left: 20px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 20px solid var(--green-color);
}

.help-message {
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
  transform-origin: 0 100%;
  transform: scale(0);
  animation: message 0.15s ease-out 0s forwards;
  animation-delay: 0.2s;
}

.help-message .help-message-bubble-tail {
  width: 0;
  transform: scale(50%);
  transform-origin: 100% 100%;
  border-left: 20px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 20px solid var(--gray-color);
}

.user-message .user-message-bubble {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
  max-width: 97%;
  overflow-wrap: break-word;
}

.ai-message .ai-message-bubble {
  background-color: var(--green-color);
  color: var(--black-color);
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 5px;
  max-width: 97%;
  overflow-wrap: break-word;
}

.help-message .help-message-bubble {
  background-color: var(--gray-color);
  color: var(--black-color);
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 5px;
  max-width: 97%;
  overflow-wrap: break-word;
}

@keyframes message {
  0% {
    max-height: 100vmax;
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    max-height: 100vmax;
    overflow: visible;
    padding-top: 1rem;
  }
}

.copyright {
  margin: 0;
  height: 60px;
  padding-top: 30px;
  padding-bottom: 10px;
  color: var(--white-color);
  text-align: center;
  font-size: 1em;
}