/* Global Styles */

:root {
  --blue-color: #3498DB;
  --green-color: #adff2f;
  --gray-color: #e1e1e1;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-left: 1%;
  padding-right: 1.5%;
  height: 100vh;
  display: flex;
  flex-direction:column
}

.title {
  margin: 0;
  height: 6%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  text-align: center;
  font-size: calc(1em + 1vw);
}

.hcontainer {
  display: flex;
  flex-direction: row;
  height: calc(94% - 100px);
}

.lcontainer {
  display: flex;
  flex-direction:column;
  height: 100%;
  width: 50%;
  padding: 10px
}

.lcontainer .doc-window {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.rcontainer {
  display: flex;
  flex-direction:column;
  height: 100%;
  width: 50%;
  padding: 10px
}

.rcontainer .chat-input input[type="text"] {
  width: calc(100% - 180px);
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.rcontainer .chat-input input[type="button"] {
  float: right;
  width: auto;
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--blue-color);
  color: #ffffff;
  cursor: pointer;
}

.rcontainer .chat-input input[type="submit"] {
  float: right;
  width: auto;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--gray-color);
  color: #000000;
  cursor: pointer;
}

.rcontainer .counter {
  text-align:right;
  padding-right: 10px;
}

.rcontainer .chat-window {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction:column-reverse;
}

.user-message {
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ai-message {
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
}

.help-message {
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-message .user-message-bubble {
  background-color: var(--blue-color);
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 97%;
  overflow-wrap: break-word;
}

.ai-message .ai-message-bubble {
  background-color: var(--green-color);
  color: #000000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 97%;
  overflow-wrap: break-word;
}

.help-message .help-message-bubble {
  background-color: var(--gray-color);
  color: #000000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 97%;
  overflow-wrap: break-word;
}

.copyright {
  margin: 0;
  height: 6%;
  padding-top: 60px;
  padding-bottom: 10px;
  color: #000000;
  text-align: center;
  font-size: calc(1em);
}